.logo {
    text-transform: uppercase;
    background: rgb(247, 201, 52);
    border: 5px solid rgb(201, 9, 33);
    border-radius: 50%;
    padding: 10px;
    rotate: -2deg;    
}

.question-container {
    min-height: 200px;
}

.answer-button {
    transition: all 0.3s ease;
}

.result-box {
    width: 20px;
    height: 20px;
    margin: 0 1px;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.share-button:active {
    animation: pop 0.3s ease;
}
